body {
    font-family: verdana;
    margin: 0;
}
a {
    cursor: pointer;
}

h1 {
    margin: 0;
    background: url('images/header-bg.jpg') center top;
    height: 174px;
    line-height: 174px;
    text-align: center;
    font-style: italic;
    text-shadow: white 0 0 3px;
}

.track-menu  li { cursor: pointer; }
.track-menu  li h2:hover,
.track-menu  li h3:hover,
.track-menu  li h4:hover,
.track-menu  li a:hover { text-decoration: underline; }
.track-menu  li > * { display: none; }
.track-menu  li > a { display: inline; }
.track-menu  li.show > * { display: block; }
.track-menu  li > h2,
.track-menu  li > h3,
.track-menu  li > h4 {
    display: block;
}
.track-menu  li > h4 {
    margin: 0;
    font-weight: normal;
}
.subtitles {
    height: 66px;
    overflow: hidden;
    position: relative;
    margin-top: 58px;
}
.subtitles.edited {
    height: auto;
}
.subtitles .cur {
    background-color: rgb(255,255,130);
}
.subedit {
    margin: 0;
    padding: 10px;
    position: relative;
}

.subedit textarea {
    width: 100%;
    margin: 5px -5px;
    font-size: 150%;
}

.subedit .Window-edges {
    overflow: hidden;
}
.subedit .Window-edges .Start {
    padding: 0 10%;
    float: left;
}
.subedit .Window-edges .End {
    padding: 0 10%;
    float: right;
}
.subedit .Window-edges input {
    width: 50px;
}
.subedit .Close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    border: solid 1px gray;
    border-radius: 3px;
    background-color: #463851;
    padding: 0 3px;
}

.icn {
    display: inline-block;
    width: 99px;
    height: 34px;
    background: url('jplayer-skins/jplayer.pink.flag.jpg') no-repeat scroll transparent;
}
.icn.Play {
    background-position: -47px -40px;
}
.icn.Play:hover {
    background-position: -47px -80px;
}
.icn.Stop {
    background-position: -47px -120px;
}
.icn.Stop:hover {
    background-position: -47px -160px;
}
.icn.Save {
    background-position: 0 -200px;
}
.icn.Save:hover {
    background-position: -100px -200px;
}
.small-play-button {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('jplayer-skins/jplayer.pink.flag.jpg') no-repeat scroll -32px -40px transparent;
    border-radius: 17px;
}

.edited .selected {
    background-color: #444;
    color: #BBB;
    outline: 3px solid #444;
}
.word.corrected {
    color: #AAA;
}
.word.humanic {
    font-weight: bold;
}
.show-content-after:after {
    content: " " attr(content-after);
    font-weight: bold;
    color: black;
}
body div.jp-audio {
    position: fixed;
    top: 0;
    right: 0;
}

.safe-hidden .generic-safe-hider {
    display: none;
}
.safe-hidden .jplayer-safe-hider {
    visibility: hidden;
}

.jp-controls .Button {
    display: block;
    width: 100%;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: white;
}
footer > * {
    margin: 0 10px;
}

.ua-ie8 .word:after {
    content: ' ';
}
