body {
    font-family: verdana;
}
.track-menu  li { cursor: pointer; }
.track-menu  li h2:hover,
.track-menu  li h3:hover,
.track-menu  li h4:hover,
.track-menu  li a:hover { text-decoration: underline; }
.track-menu  li > * { display: none; }
.track-menu  li > a { display: inline; }
.track-menu  li.show > * { display: block; }
.track-menu  li > h2,
.track-menu  li > h3,
.track-menu  li > h4 {
    display: block;
}
.track-menu  li > h4 {
    margin: 0;
    font-weight: normal;
}
.subtitles {
    height: 66px;
    overflow: hidden;
    position: relative;
    margin-top: 58px;
}
.subtitles.edited {
    height: auto;
}
.subtitles .cur {
    background-color: rgb(255,255,130);
}
.subedit {
    top: 150px;
    margin: 0;
    padding: 10px;
}
.subedit .Icn {
    display: inline-block;
    width: 99px;
    height: 34px;
    background: url('/static/jplayer-skins/jplayer.pink.flag.jpg') no-repeat scroll transparent;
}
.subedit .Icn.Play {
    background-position: 0 -40px;
}
.subedit .Icn.Stop {
    background-position: 0 -80px;
}
.subedit .Icn.Play:hover {
    background-position: -100px -40px;
}
.subedit .Icn.Stop:hover {
    background-position: -100px -80px;
}
.subedit .Icn.Save {
    background-image: url('/static/images/sprite.jpg');
}
.subedit .Icn.Save:hover {
    background-position: -100px 0;
}

.subedit textarea {
    width: 100%;
    margin: -5px -5px 5px;
}

.subedit .Window-edges {
    text-align: justify;
}
.subedit .Window-edges > * {
    display: inline-block;
    padding: 0 10%;
}
.subedit .Window-edges input {
    width: 47px;
}

.edited .selected {
    background-color: #444;
    color: #BBB;
    outline: 3px solid #444;
}
.word.corrected {
    color: #AAA;
}
.word.humanic {
    font-weight: bold;
}
.show-content-after:after {
    content: " " attr(content-after);
    font-weight: bold;
    color: black;
}
body div.jp-audio {
    position: fixed;
    top: 0;
    right: 0;
}

.safe-hidden .generic-safe-hider {
    display: none;
}
.safe-hidden .jplayer-safe-hider {
    visibility: hidden;
}
