body {
    font-family: verdana;
}
.track-menu  li { cursor: pointer; }
.track-menu  li h2:hover,
.track-menu  li h3:hover,
.track-menu  li h4:hover,
.track-menu  li a:hover { text-decoration: underline; }
.track-menu  li > * { display: none; }
.track-menu  li > a { display: inline; }
.track-menu  li.show > * { display: block; }
.track-menu  li > h2,
.track-menu  li > h3,
.track-menu  li > h4 {
    display: block;
}
.track-menu  li > h4 {
    margin: 0;
    font-weight: normal;
}
.subtitles {
    height: 66px;
    overflow: hidden;
    position: relative;
}
.subtitles.edited {
    height: auto;
}
.subtitles .cur {
    background-color: rgb(255,255,130);
}
.subedit {
    display: block;
    width: 100%;
}
.edited .selected {
    display: none;
}
.word.corrected {
    color: #AAA;
}
.word.humanic {
    font-weight: bold;
}
.show-content-after:after {
    content: " " attr(content-after);
    font-weight: bold;
    color: black;
}
body div.jp-audio {
    position: fixed;
    top: 0;
    right: 0;
}
