curl -XPUT localhost:9200/tking/_doc/[% id %] -d '{
    "occurrences": "[% FOR w IN words; w.occurrence; ' ' UNLESS loop.last; END %]",
    "phonet": "[% FOR w IN words; IF w.fonet; w.fonet; ' ' UNLESS loop.last; END; END %]",
    "humanicity": "[% humanicity %]"
}'
