<!DOCTYPE html>
<html>

<head>
    <title>Makoň.fm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name='description' content="Archiv nahrávek Karla Makoně" />
    <link href="/static/favicon.ico" rel="icon" type="image/ico" />
    <link rel="stylesheet" type="text/css" href="/static/makonfm.css" />
    <link rel="stylesheet" type="text/css" href="/static/jplayer-skins/jplayer.pink.flag.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.jplayer.min.js"></script>
</head>

<body>

    [%- PROCESS 'tracklist.tt' | indent(4) %]

    [%- PROCESS 'jplayer.tt'   | indent(4) %]

    [%- PROCESS 'subtitles.tt' | indent(4) %]

    <input type="number" step="0.1" id="ts" />

    <script type="text/javascript" src="/static/makonfm.js"></script>

</body>

</html>
