<!DOCTYPE html>
<html>

<head>
    <title>Makoň.fm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name='description' content="Archiv nahrávek Karla Makoně" />
    <link href="[% c.config.static_base %]/favicon.ico" rel="icon" type="image/ico" />
    <link rel="stylesheet" type="text/css" href="[% c.config.static_base %]/jplayer-skins/jplayer.pink.flag.css[% c.v('jplayer') %]" />
    <link rel="stylesheet" type="text/css" href="[% c.config.static_base %]/makonfm.css[% c.v('css') %]" />
    [%~ IF c.config.local %]
    <script type="text/javascript" src="[% c.config.static_base %]/jquery.js"></script>
    [%~ ELSE %]
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    [%~ END %]
    <script type="text/javascript" src="[% c.config.static_base %]/jquery.jplayer.min.js[% c.v('jplayer') %]"></script>
    <script type="text/javascript" src="[% c.config.static_base %]/knockout.js[% c.v('knockout') %]"></script>
</head>

<body>

    [%# <h1>Makoň.FM</h1> %]
    [%# <p class="hint" data-bind="text: hint_message">Vyberte nahrávku</p> %]
    <div data-bind="css: { 'safe-hidden': editation_active() }">
        <div class="jplayer-safe-hider">

            [%- PROCESS 'jplayer.tt'   | indent(12) %]

        </div>
        <div class="generic-safe-hider">

            [%- PROCESS 'tracklist.tt' | indent(12) %]

            [%- PROCESS 'subtitles.tt' | indent(12) %]

        </div>
    </div>
    <div data-bind="visible: editation_active">

        [%- PROCESS 'editor.tt'    | indent(8) %]

    </div>

    <script type="text/javascript">
        [%~ PROCESS 'js_init.js' | indent(8) %]
    </script>
    <script type="text/javascript" src="[% c.config.static_base %]/makonfm.js[% c.v('js') %]"></script>

</body>

</html>
