<!DOCTYPE html>
<html>

<head>
    <title>Makoň.fm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name='description' content="Archiv nahrávek Karla Makoně" />
    <link href="/static/favicon.ico" rel="icon" type="image/ico" />
    <link rel="stylesheet" type="text/css" href="/static/makonfm.css" />
    <link rel="stylesheet" type="text/css" href="/static/jplayer-skins/jplayer.pink.flag.css" />
    <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script-->
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/jquery.jplayer.min.js"></script>
</head>

<body>

    [%- PROCESS 'tracklist.tt' | indent(4) %]

    [%- PROCESS 'jplayer.tt'   | indent(4) %]

    [%- PROCESS 'subtitles.tt' | indent(4) %]

    [%# DEBUG %]
    <input type="number" step="1" id="ts" value="0" />
    <script>
        $('#ts').click(function(){$(this).val($(this).val()-0+1);$(this).change();});
        $('#ts').change(function(){MakonFM.upd_sub($(this).val());});
    </script>

    <script type="text/javascript" src="/static/makonfm.js"></script>

</body>

</html>
