<div class="subtitles">
</div>
<dl class="curword" data-timestamp="3.3">
    <dt class="occurrence">Výskyt</dt>
    <dd class="occurrence"></dd>
    
    <dt class="fonet">Výslovnost</dt>
    <dd class="fonet"></dd>
    
    <dt class="wordform">Slovní tvar</dt>
    <dd class="wordform"></dd>
</dl>

